<div class="search">
    <div class="search_data">
        <form action="/search" class="search_bar" role="search" method="post">
            <input type="search" aria-label="search" id="searchinput" name="searchterm" placeholder="Search the site..."/>
        </form>
        <div id="searchclose">Close</div>
    </div>
</div>